:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}
main{
}

h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color:lime;
    font: weight bolder;
    
}

.mainheader{
    text-align: center;
    text-transform: uppercase;
    font-style:oblique ;
    border: 2px solid black;
    background: blue;
}

.mainheader h1{
    color: yellow;
}

.mainconteiner{
    font-size: 25px;
    background: lightblue;
    height:31vh;
    text-align: center;
}


.mainsection{

}

.right_side{
    background: violet;

}
.left_side{
background: chocolate;
}
.inlineblock{
    display: inline-block;
}

.w50{
    width: 48%;
  
}

.mainfooter{
    color: yellow;
    background: black;
}